<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">    
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website uses mapbox.com and weatherstack.com API.</p>
        <img class = "portrait" src="/img/logo.jpg">
    </div>
    {{>footer}}
</body>

</html>